ccsf	{ font-family:"Verdana, Arial, sans-serif"; font-size:1.2em; }
cnit131	{ display:block; color:red;}
cnit131a {display:block; color:green;}
cnit132 {display:block; color:blue;}
cnit133 { display:block; color:yellow;}
instructor { font-style:bold; font-style:italic; }
